.chat-side
  .side-header
    .side-header__box
      %p.side-header__box__username
        azarasi
      %ul.side-header__box__menu
<<<<<<< Updated upstream
        %li.side-header__box__edit-user
=======
        %li.side-header__box__edit-header__box__user
>>>>>>> Stashed changes
          = link_to "#" do
            = icon('fas', 'edit')
        %li.side-header__box__new-group
          = link_to "#" do
            = icon('fas', 'cog')
  .groups
    = link_to "#", class:"group" do
      %p.group__group-name
<<<<<<< Updated upstream
        test
=======
        techcamp
>>>>>>> Stashed changes
      %p.group__lastest-message
        まだメッセージはありません